In [1]:
import pymysql

In [2]:
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'passWord'
db = 'TESTDB'
charset = 'utf8mb4'

In [4]:
# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [5]:
cursor = conn.cursor()

In [6]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [7]:
conn.commit()

In [8]:
sql = """
    select * from Staff
"""

cursor.execute(sql)

1

In [9]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [10]:
cursor.fetchall()

()

In [11]:
cursor.execute(sql)
data = cursor.fetchall()

In [12]:
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [13]:
cursor.execute("delete from Staff")

1

In [14]:
conn.commit()

In [15]:
cursor.close()
conn.close()